*{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.btn-primary{
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 20px;
  border: 0;
  padding: 20px 21px;
  height: 64px;
  border-radius: 5px;
  background: #F15B22;
  
}

.header{
  background-image: url(../images/banner/banner1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* header and nav style */

nav{
  display: flex;
  justify-content: space-between;
  padding: 0px 200px;
  background: hsla(32, 70%, 77%, 0.637);
}

nav ul{
  display: flex;
  align-items: center;
  
}

nav li{
  list-style: none;
  margin-left: 40px;
  
  
}

/* banner styles */

.banner{
  display: flex;
  align-items: center;
  margin: 216px 230px 20px 845px;
}

.banner-sub-title{
  font-weight: 700;
  font-size: 65px;
  text-align: right;
  color: #151414;
}

.banner-title{
  font-weight: 700;
  font-size: 65px;
  text-align: right;
  line-height: 76px;
  color: #151414;
}

.banner-next-title{
  font-weight: 700;
  font-size: 65px;
  text-align: right;
  line-height: 76px;
  color: #151414;

}

.banner-description{
  color: #444343;
  font-size: 16px;
  text-align: right;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
  margin-top: 24px;
}

.banner-buttto{
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 20px;
  border: 0;
  padding: 20px 21px;
  height: 64px;
  border-radius: 5px;
  background: #F15B22;
  margin: 0px 0px 166px 620px;

}

/* about */

.about{
  display: flex;
}

.about-photo{
  margin-top: 10px;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: left;
  

}

.about-previous{
  
  border-radius: 10px;
  padding: 130px 250px;
  text-align: left;
  margin: 200px 60px 0px 0px;
  padding-left: 0;

}

.previous-title{
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
}

.previous-sub-title{
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
}

